body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6fa;

    animation-name: slideDown;
    animation-duration: 2s;
}

@keyframes slideDown {
    0% {
        transform: translateY(-150%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}

.header-wrap {
    width: 70%;
    display: flex;
    justify-content: space-between;
}


.account {
    display: flex;
    align-items: center;
    width: fit-content;
}

.account a img{
    opacity: 0.3;
}

.account > a img:hover{
    opacity: 0.4;
}

.userinfo input {
  width: 22px;
  height: 22px;
  position: relative;
  top: 5px;
  right: -31px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
}

.userinfo span{
    align-items: center;
    background-color: #f79a1b;
    border-radius: 100%;
    color: #ffffff;
    font-size:20px;
    display: inline-flex;
    height: 32px; 
    width: 32px;
    justify-content: center;
    cursor: default;
}

ul.profile-menu {
    position: absolute;
    padding: 10px;
    top: 55px;
    right: 15%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.05);

    transform-origin: 0% 0%;
    transform: translate(0%, -200%);
}

.userinfo input:checked ~ ul{
  transform: none;
}

.profile-menu li {
    padding-right: 10px;
    font-size: 18px;
    padding: 10px;
    color: #000000;
}

.profile-menu li:not(:first-child):hover{
    background-color: #f5f6fa;
    transition: 0.5s;
}

.profile-menu li:first-child {
    margin-bottom: 10px;
    padding: 5px;
    color: #8b8b8d;
    border-bottom: 2px solid #8b8b8d 
}

.profile-menu li a{
    color: black;
}

.not-found {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}
.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

p a {
    text-decoration: none;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

p a:hover{
    color: #f79a1b;
    transition: 0.5s;
}

.notify {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    position: fixed;
    right: 30px;
    bottom: 10px;
}

.notify img {
    padding-right: 20px;
    height: 100%;
}

.notify .wrapper {
    display: flex;
    max-width: 250px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    line-height: 1.2;
    align-items: center;
    z-index: 999;

    animation-name: slideUp;
    animation-duration: 2s; 
}

 @keyframes slideUp {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }   
}

.wrapper div {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.wrapper span {
    font-weight: bold;
}

.wrapper.error {
    background-color: rgba(194, 10, 0, 0.6);
}


.wrapper.succes {
    background-color: rgba(2, 133, 0, 0.6);
}



